@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Myeongjo', serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 53px;
  display: flex;
  text-transform: capitalize;
  color: #FF8400;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }
}

p {
  width: 60%;
  color: white;
  font-size: 1rem;
  line-height: 30px;
}

@media (min-width: 1000px) {
  p {
    font-size: 24px;
  }
}

body {
  background-color: #333;
}

body .nav-bar {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

body .nav-bar .mobile-nav {
  display: none;
}

body .nav-bar .logo {
  height: 100px;
  width: auto;
}

body .nav-bar nav ul {
  display: flex;
  padding-top: 0.01px;
}

body .nav-bar nav ul li:hover {
  background-color: white;
  color: #008081;
}

body .nav-bar nav ul li:hover a {
  color: #008081;
}

body .nav-bar nav ul li {
  list-style-type: none;
  height: 3vw;
  background-color: #008081;
  margin-left: 1.2vw;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (min-width: 1000px) {
  body .nav-bar nav ul li {
    height: 50px;
    margin-left: 25px;
  }
}

@media (max-width: 860px) {
  body .nav-bar nav ul li {
    height: 25px;
  }
}

body .nav-bar nav ul li a {
  font-size: 1.2vw;
  text-align: center;
  padding: .5vw 2vw;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 860px) {
  body .nav-bar nav ul li a {
    font-size: 11px;
    padding: 4px 17.242px;
  }
}

@media (min-width: 1000px) {
  body .nav-bar nav ul li a {
    padding: 5px 35px;
    font-size: 16.302px;
  }
}

body .nav-bar nav ul .active {
  background-color: #FF8400;
}

body header {
  display: flex;
  width: 100%;
}

body header .math-guy {
  width: 35%;
}

body header .math-guy img {
  min-width: 233px;
  max-width: 447px;
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) {
  body header .math-guy img {
    width: 100%;
    max-width: 100%;
  }
}

body header .title {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body header .title .onlineClass {
  position: absolute;
  top: 100px;
  right: 66px;
  height: auto;
  width: 35vw;
  max-width: 574px;
  z-index: -1;
}

@media (min-width: 1000px) {
  body header .title .onlineClass {
    max-width: none;
  }
}

body header .title .texts {
  margin-left: 100px;
  width: calc(100% - 100px);
}

body header .title p {
  width: 340px;
  max-width: 40vw;
  padding-left: 35px;
}

body header .animationObject {
  border-radius: 50%;
  position: absolute;
  width: 6vw;
  min-width: 40px;
  min-height: 40px;
  height: 6vw;
  z-index: 100;
  background-color: rgba(0, 128, 129, 0.5);
  animation: headerAnim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes headerAnim {
  0% {
    top: 100px;
    left: 10px;
  }
  25% {
    left: 25vw;
    top: calc(30vw / 2);
  }
  50% {
    left: 50vw;
    top: 30vw;
  }
  75% {
    left: 75vw;
    top: calc(30vw / 2);
  }
  100% {
    top: 30vw;
    left: calc(100vw - 12vw);
  }
}

body main .info-1 {
  width: 100%;
  display: flex;
  padding: 5vw 0;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 50px 2px black;
}

body main .info-2 {
  display: flex;
  margin-top: 10px;
}

body main .info-2 .slideshow-container {
  width: 50%;
}

body main .info-2 img {
  width: calc(100% - 10px);
  height: auto;
  margin: 10px;
  box-shadow: 13px 11px 4px rgba(0, 0, 0, 0.25);
  animation-duration: 4s;
}

body main .info-2 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

body main .info-2 .text p {
  width: 95%;
}

body main .info-2 .text button {
  background: #FF8400;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

body main .info-2 .text button:hover {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(6px);
  }
  to {
    opacity: 1;
    filter: blur(1px);
  }
}

body main .info-3 {
  width: 100%;
  display: flex;
  padding: 5vw 0;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 50px 2px black;
}

body main .info-3 .texts {
  padding-left: 10px;
  width: 50%;
}

body main .info-3 .texts p {
  padding-left: 10px;
  width: 100%;
}

body main .info-3 img {
  width: 50%;
}

body main .collaborators {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

body main .org-logos {
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

body main .org-logos a img {
  width: 100px;
}

body .footer-distributed {
  background-color: #333;
  box-shadow: 0 0px 50px 2px black;
  width: 100%;
  padding: 10px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body .footer-distributed .footer-left {
  width: calc(100% / 3);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body .footer-distributed .footer-left .footer-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-top: 10px;
  justify-content: center;
}

body .footer-distributed .footer-left .footer-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-left: 6px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1rem;
  color: #ffffff;
  line-height: 35px;
}

body .footer-distributed .footer-left .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

body .footer-distributed .footer-center {
  width: calc(100% / 3);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .footer-distributed .footer-center p {
  font-size: 1rem;
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
}

body .footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  text-align: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 42px;
  margin: 10px 15px;
}

body .footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

body .footer-distributed .footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  min-width: 200px;
}

body .footer-distributed .footer-right .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  max-height: 270px;
  width: 100%;
}

body .footer-distributed .footer-right .footer-company-about .moreAbout {
  display: none;
  color: blueviolet;
}

@media (max-width: 700px) {
  body .footer-distributed .footer-right .footer-company-about .moreInfo {
    display: none;
  }
  body .footer-distributed .footer-right .footer-company-about .moreAbout {
    display: inline-block;
  }
}

body .footer-distributed .footer-right .footer-company-about .about-title {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

body .footer-distributed .footer-right .footer-icons {
  margin-top: 25px;
}

body .footer-distributed .footer-right .footer-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1rem;
  color: #ffffff;
  line-height: 35px;
}

body a {
  text-decoration: none;
  color: white;
}

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  nav .mobile-nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #19595a;
    color: #ffffff;
    text-align: center;
    width: 38px;
    height: 38px;
    /* border-radius: 50%;*/
  }
  nav .mobile-nav:hover {
    cursor: pointer;
  }
  nav ul {
    background-color: #008081;
    display: block !important;
  }
  nav .drop-down-disabled {
    display: none !important;
    width: 100%;
  }
  header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  header .math-guy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80% !important;
  }
  header .math-guy .math-guy-image {
    max-width: 268px !important;
  }
  header .title {
    width: 100% !important;
  }
  header .title .texts {
    margin-left: 0 !important;
    width: calc(100% - 10px) !important;
  }
  header .title .home-texts {
    margin-left: 16vw !important;
  }
  header .title .description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .title p {
    max-width: 325px !important;
    width: 100% !important;
    padding-left: 10px !important;
  }
  header .animationObject {
    display: none !important;
  }
  header .onlineClass {
    display: none;
  }
  .info-1 p {
    width: 90% !important;
  }
  .info-2 {
    flex-direction: column;
    align-items: center;
  }
  .info-2 div {
    width: 95% !important;
  }
  .info-3 {
    flex-direction: column-reverse;
  }
  .info-3 .texts {
    padding-left: 0 !important;
  }
  .info-3 div {
    width: 95% !important;
  }
  footer {
    justify-content: center !important;
  }
  footer div {
    margin-bottom: 15px;
  }
}
